body {
  margin: 0; padding: 0;
}

.row {
  margin-top: 20px;
}

.small {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}

#top {
  position: fixed;
  top: 20px;
  left: 60px;
  right: 60px;
}

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.results {
  margin-top: 100px;
  margin-left: 60px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.small:hover {
  cursor: pointer;
  color: #000;
}

.small:hover strong {
  text-decoration: underline;
}

.centerLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.centerLabel .pointer {
  background: url(./pointer.png);
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
  opacity: 0.5;
}

.centerLabel .label {
  font-weight: lighter;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
  top: 50px;
  width: 250px;
  left: -125px;
}
