<!DOCTYPE html>
<html>

  <head>

    <title>Pelias</title>

    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet' />
    <link href='application.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>
    <script src="application.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />

  </head>

  <body ng-app="play">

    <div map-demo id="map" center="center"></div>

    <div class="container-fluid" ng-controller="SearchCtrl">

      <div id="top">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control input-lg" placeholder="Type something..." ng-model="input" focus/>
          </div>
        </div>
      </div>

      <div class="row" ng-show="input">
        <div class="col-md-6 results">
          <div class="row">

            <div class="col-md-6">
              <div class="lead">Search</div>
              <div ng-repeat="result in searchResults" class="small" ng-click="goTo(result)">
                <strong>{{ result.properties.name }} ({{result.properties.type}})</strong><br/>
                <div ng-repeat="field in fieldsFor(result)">{{ field }}: {{ result.properties[field + '_name'] }}</div>
              </div>
              <p ng-if="!searchResults.length"><em>Nothing to see here</em></p>
            </div>

            <div class="col-md-6">
              <div class="lead">Suggest</div>
              <div ng-repeat="result in suggestResults" class="small" ng-click="goTo(result)">
                <strong>{{ result.properties.name }} ({{result.properties.type}})</strong><br/>
                <em>{{ result.properties.hint }}</em><br/>
                <div ng-repeat="field in fieldsFor(result)">{{ field }}: {{ result.properties[field + '_name'] }}</div>
              </div>
              <p ng-if="!suggestResults.length"><em>Nothing to see here</em></p>
            </div>

          </div>
        </div>
      </div>

      <div class="centerLabel">
        <div class="pointer"></div>
        <div class="label" ng-show="spec.reverseResults.length">
          {{ spec.reverseResults[0].properties.name }}
        </div>
      </div>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47035811-1', 'mapzen.com');
      ga('send', 'pageview');
    </script>

  </body>

</html>
